/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* FONTS */
body{
    background-attachment: fixed;
    background-color: pink;

}
header{
    width: 1500px;
    font-family: arial;
    background-color:whitesmoke;
    color: black;
    position: fixed;

}

h1{
    font-family: Impact;
    padding-left: 20px;
}

main div.tarjeta {
    
    font-family: arial;
    background-color: whitesmoke;
    border-width: 20px;
    border-color: violet;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding-left: 10px;
    

}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* FONTS */
footer{
    background-color: black !important;
    height: 40px;
    color: white;
    padding: 0 10px;
}

footer ul{
    list-style: none;
}

footer ul li{
    font-family: Helvetica, sans-serif;
    margin-top: 0;
    color: white;
    list-style: none;
}